.brand {
  background-color: #fff;
  height: 150px;
}

.brand img {
  width: calc(80% - 20px);
}

.menu-list {
  flex: 1;
  -ms-flex: 1;
}

.menu-list li {
  padding: 5px 15px;
  cursor: pointer;
  background-color: white;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.menu-list li a {
  color: black;
}

.menu-list li:hover {
  padding: 5px 15px;
  cursor: pointer;
  background-color: #0071bc;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.menu-list li:hover a {
  color: white;
}

.footer {
  margin-bottom: 20px;
  width: calc(100% - 20px);
}

.fixed-sidebar .socials {
  display: flex;
  gap: 20px;
  color: black;
  cursor: pointer;
}

small {
  color: black;
}

/*
ITEM LIST
*/

.content-container {
  text-align: center;
  padding: 100px;
  position: relative;
}

hr.dotted {
  border-top: 2px dotted #f7f7f7;
  width: 100px;
}

.card-item {
  width: 300px;
}

.card-item a {
   text-decoration: none;
   color: #000;
}

.car-cards li img {
  width: 50%;
  height: 50%;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.car-cards-container {
  display: flex;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.car-cards {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}

.card-item button {
  padding: 5px 20px;
  color: white;
  background-color: #0071bc;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.card-item button:hover {
  color: black;
  background-color: #f7f7f7;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.prev-button {
  left: 0;
  background-color: #0071bc;
  color: #fff;
  width: 80px;
  height: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
}

.next-button {
  right: 0;
  background-color: #0071bc;
  color: #fff;
  width: 80px;
  height: 60px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
}

.car-cards > .card-item .socials i {
  margin-right: 1rem;
  color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.description {
    color: #ccc;
}