.item-container {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 2rem;
  width: 100%;
  padding-top: 70px;
  padding-right: 3%;
  background: transparent url("../splash-back-img.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.details-container {
  display: grid;
  background: none;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  width: 100%;
  padding-top: 70px;
  padding-right: 3%;
}

.car-pic {
  text-align: center;
  margin-top: 2.3rem;
}

.car-pic img {
  top: 50%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px #ccc;
}

.car-details {
  text-align: right;
}

#schedule {
  border-collapse: collapse;
  width: 100%;
}

#schedule td {
  padding: 10px;
  text-align: left;
  color: black;
}

.title-car {
  color: black;
}

#schedule tr:nth-child(odd) {
  background-color: lightgray;
}

#schedule td:last-child {
  text-align: right;
}

.more-cars {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.more-cars .bi-chevron-right {
  color: #0071bc;
}

.color-wheel img {
  padding: 30px 0 50px;
  width: 100px;
}

.book-btn {
  cursor: pointer;
  background-color: #0071bc;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.scroll-button-2 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.prev-button-2 {
  background-color: #0071bc;
  color: #fff;
  width: 80px;
  height: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
