.mobile-navigation {
  display: none;
  background-color: #0071bc;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .mobile-navigation {
    display: block;
  }
}

.open {
  height: 100vh;
  overflow: hidden;
}

.hamburger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-icon {
  swidth: 25px;
  height: 50px;
  color: #fff;
  margin: 0;
}
