.mobile-nav {
  background-color: #0071bc;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s; /* Add a transition effect */
}

@media (max-width: 768px) {
  .mobile-nav {
    display: flex;
    justify-content: space-between;
  }
}

.mobile-nav button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bi-list-ul {
  font-size: 2rem;
  color: #fff;
  margin: 0;
}
